@import "https://serene-ui.netlify.app//styles.css";

:root {
  --primary-color: #2a2c2e;
  --secondary-color: #00cacd;
  --action-bar-color: grey;
  --button-text-color: white;
}

/* Card components */
.card-ecom {
  justify-content: center;
}

.card-content-ecom {
  text-align: center;
}

/* Navigation */

.nav-ecom {
  border-radius: 0;
}

.nav-ecom button {
  background-color: var(--primary-color);
  outline: none;
  border: none;
  font-size: large;
}

@media screen and (max-width: 767px) {
  .nav-ecom {
    width: 100%;
  }

  .nav-ecom .list-no-bullets {
    margin-right: 1rem;
  }

  .nav-ecom button {
    font-size: small;
  }
}

/* landing-page */

.landing-page {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.text-overlay-data-ecom {
  width: 38%;
  height: 30%;
  color: white;
  position: absolute;
  top: 44%;
  left: 65%;
  background-color: black;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  animation: landing-page 1s ease-in-out;
  transform: rotate(0deg);
}

@keyframes landing-page {
  from {
    top: 20%;
    opacity: 0;
    transform: scale(0.6);
    /* transform: rotate(90deg); */
  }
  to {
    top: 44%;
    opacity: 1;
    transform: scale(1);
    /* transform: rotate(1deg); */
  }
}

.text-overlay-h1 {
  font-size: 2rem;
  text-align: right;
  margin: 0.2rem 9.9rem;
}

.text-overlay-h2 {
  font-size: 6rem;
  transform: rotate(0deg) scale(1);
}

.text-overlay-btn {
  width: 6rem;
  padding: 0.5rem;
  margin: 1rem 24rem;
}

@media screen and (max-width: 767px) {
  .text-overlay-data-ecom {
    width: 28%;
    height: 8%;
    top: 16%;
    left: 55%;
    background-color: black;
    animation: landing-page-mob 1s ease-in-out;
  }

  .text-overlay-h1 {
    font-size: 0.2rem;
    transform: rotate(0deg) scale(1);
    text-align: right;
    margin: 0.2rem 0.1rem;
  }

  .text-overlay-h2 {
    font-size: 1.5rem;
    transform: rotate(0deg) scale(1);
  }

  .text-overlay-btn {
    width: 4rem;
    font-size: x-small;
    padding: 0.1rem;
    margin: 1rem 3.3rem;
  }

  @keyframes landing-page-mob {
    from {
      top: 10%;
      opacity: 0;
      transform: scale(1);
      transform: rotate(0deg);
    }
    to {
      top: 18%;
      opacity: 1;
      transform: scale(1);
      transform: rotate(0deg);
    }
  }
}

/* landing-page-grid-images */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.responsive-img-ecom {
  margin: 1rem 0.4rem;
  /* width: 40%; */
}

@media screen and (max-width: 767px) {
  .image-grid {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .responsive-img-ecom {
    margin: 1rem;
    margin-left: 2rem;
    width: 85%;
  }
}

/* bestproducts */
.landing-best-products {
  margin: auto;
  text-align: center;
}

.landing-best-products-h1 {
  font-size: 1rem;
  font-style: italic;
}

.landing-best-products-h2 {
  font-size: 2rem;
  margin: 0.1rem;
}

/* products-page */

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  width: 80%;
  border: 1px solid grey;
  margin: 1rem auto;
  color: var(--action-bar-color);
}

@media screen and (max-width: 767px) {
  .action-bar {
    flex-direction: column;
  }
}
