@import "https://serene-ui.netlify.app//styles.css";

:root {
  --primary-color: #2a2c2e;
  --secondary-color: #00cacd;
  --action-bar-color: grey;
  --button-text-color: white;
}

/* Card components */
.cards-ecom {
  justify-content: center;
}

.card-ecom {
  width: 16rem;
  height: 25rem;
}

.card-content-ecom {
  text-align: center;
}

/* .card-image-ecom {
  width: 15rem;
  height: 13rem;
} */

/* Navigation */

.nav-ecom {
  border-radius: 0;
  padding: 0;
  align-items: center;
}
.nav-heading {
  font-size: 1.5rem;
  margin-right: 70%;
  color: white;
  font-style: italic;
}

.nav-ecom button {
  background-color: var(--primary-color);
  outline: none;
  border: none;
  font-size: 1rem;
}

.list-item-inline a {
  text-decoration: none;
  color: white;
  margin: 0rem 1rem;
}
.nav-list-ecom {
  margin-right: 1rem;
  display: flex;
}

.badge-div {
  margin-top: 0.3rem;
}
.badge-icons {
  width: auto;
}

.badge-on-icon-ecom {
  top: -1rem !important;
  width: 0.8rem;
  left: 1rem;
  font-size: 0.6rem;
}

.badge-div {
  margin-top: 0.1rem;
}
@media screen and (max-width: 767px) {
  .nav-ecom {
    width: 100%;
  }

  .nav-heading {
    font-size: 1rem;
    margin-right: 22%;
  }
  .nav-ecom .list-no-bullets {
    margin-right: 1rem;
  }

  .nav-ecom button {
    font-size: small;
  }
}

/* landing-page */

.landing-page {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.text-overlay-data-ecom {
  width: 38%;
  height: 30%;
  color: white;
  position: absolute;
  top: 44%;
  left: 60%;
  background-color: black;
  display: flex;
  justify-items: flex-end;
  flex-direction: column;
  animation: landing-page 1s ease-in-out;
  transform: rotate(0deg);
}

@keyframes landing-page {
  from {
    top: 20%;
    opacity: 0;
    transform: scale(0.6);
    /* transform: rotate(90deg); */
  }
  to {
    top: 44%;
    opacity: 1;
    transform: scale(1);
    /* transform: rotate(1deg); */
  }
}

.text-overlay-h1 {
  font-size: 2rem;
  text-align: right;
  margin: 0.2rem 2rem;
}

.text-overlay-h2 {
  font-size: 6rem;
  transform: rotate(0deg) scale(1);
}

.text-overlay-btn {
  width: 6rem;
  padding: 0.5rem;
  margin: 1rem 23.5rem;
}

@media screen and (max-width: 767px) {
  .text-overlay-data-ecom {
    width: 28%;
    height: 8%;
    top: 16%;
    left: 63%;
    background-color: black;
    animation: landing-page-mob 1s ease-in-out;
  }

  .text-overlay-h1 {
    font-size: 0.2rem;
    transform: rotate(0deg) scale(1);
    text-align: right;
    margin: 0.2rem 0.1rem;
  }

  .text-overlay-h2 {
    font-size: 1.5rem;
    transform: rotate(0deg) scale(1);
  }

  .text-overlay-btn {
    width: 4rem;
    font-size: x-small;
    padding: 0.1rem;
    margin: 1rem 3.3rem;
  }

  @keyframes landing-page-mob {
    from {
      top: 10%;
      opacity: 0;
      transform: scale(1);
      transform: rotate(0deg);
    }
    to {
      top: 18%;
      opacity: 1;
      transform: scale(1);
      transform: rotate(0deg);
    }
  }
}

/* landing-page-grid-images */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.responsive-img-ecom {
  margin: 1rem 0.4rem;
  /* width: 40%; */
}

@media screen and (max-width: 767px) {
  .image-grid {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .responsive-img-ecom {
    margin: 1rem;
    margin-left: 2rem;
    width: 85%;
  }
}

/* bestproducts */
.landing-best-products {
  margin: auto;
  text-align: center;
}

.landing-best-products-h1 {
  font-size: 1rem;
  font-style: italic;
}

.landing-best-products-h2 {
  font-size: 2rem;
  margin: 0.1rem;
}

/* products-page */

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  width: 80%;
  border: 1px solid grey;
  margin: 1rem auto;
  color: var(--action-bar-color);
}

@media screen and (max-width: 767px) {
  .action-bar {
    flex-direction: column;
  }
}

/* Card */

.card-overlay-data {
  width: 100%;
  height: 8%;
  color: white;
  position: absolute;
  bottom: 35%;
  background-color: black;
  display: flex;
  flex-direction: row;
  animation: card-overlay-ani 1s ease-in-out;
  display: none;
}

@keyframes card-overlay-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cart-image {
  width: 4rem;
  height: 2rem;
  margin: auto;
  background-color: black;
  color: white;
  border: 0;
  outline: none;
}

.card:hover .card-overlay-data {
  display: flex;
  flex-direction: row;
}

.red-heart {
  color: red;
  outline: none;
}
.alert-success {
  position: fixed;
  bottom: 0%;
  left: 60%;
  width: 40%;
  background-color: var(--primary-color);
  color: white;
  font-size: large;
}

/* cart */
.cart {
  display: flex;
  flex-direction: row;
}

.cart-products {
  margin: 2rem 6rem;
  width: 50rem;
  box-shadow: 2px 2px #888888;
}

.cart-product-heading {
  margin-left: 2rem;
  font-size: large;
}

.cart-no-items {
  padding: 1rem 1rem;
}

.horizontal-card-ecom {
  width: 100%;
  height: 12rem;
  margin: 0;
  padding: 0.3rem;
  box-shadow: none;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.horizontal-data-ecom {
  font-size: small;
  /* margin: 2rem 3rem; */
  width: 25%;
  margin: 0;
}

.horizontal-card-heading-ecom {
  color: var(--primary-color);
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.horizontal-card-image-ecom {
  width: 22%;
  height: 80%;
}

.counter-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 0.4rem;
}

.horizontal-card-total-price {
  font-size: x-large;
}

.cart-delete-image {
  background-color: white;
  border: none;
}

.counter {
  font-size: large;
  margin: 0.5rem 0.5rem;
}

/* checkout-cart */

.checkout-card {
  box-shadow: 2px 2px #888888;
  /* width: 25%; */
}
/* .checkout-item-color {
  color: #00c4cd;
} */

.checkout-top {
  margin: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.continue-shop-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 0.3rem;
  font-size: large;
  margin: 0rem 6rem;
}

.continue-shop-btn .fa {
  padding: 0rem 0.3rem;
}
.checkout-values {
  font-size: large;
  padding: 0.5rem;
  width: auto;
}

.checkout-btn {
  background-color: var(--primary-color);
  color: white;
  justify-content: center;
  align-items: center;
  /* margin: 1rem 7rem; */
  padding: 0.4rem;
  margin: auto;
}

.checkout-btn-div {
  padding: 0.5rem 0rem;
  display: flex;
}

.checkout-right-div {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin-top: 2.5rem;
  box-shadow: 2px 2px #888888;
}

.checkout-single-policy {
  padding: 0.5rem;
  margin: 1rem 0.5rem;
  font-weight: 400;
}

.checkout-single-policy .fa {
  padding-right: 1rem;
}

@media screen and (max-width: 767px) {
  /* card-btn */
  .card-overlay-data {
    display: flex;
  }
  /* cart */
  .cart-products {
    width: 80%;
    margin: auto;
  }

  .cart {
    flex-direction: column;
  }

  .horizontal-card-ecom {
    flex-direction: column;
    width: 20rem;
    height: auto;
    justify-content: space-evenly;
    margin: 0;
    margin-right: 0;
    margin: auto;
  }

  .horizontal-card-image-ecom {
    width: 50%;
  }
  .horizontal-data-ecom {
    width: 100%;
    height: auto;
    margin: 1rem;
  }

  .horizontal-card-heading-ecom {
    width: 100%;
    margin: 1rem 0rem;
  }

  .checkout-item-color {
    width: 40%;
    font-size: large;
  }
  .horizontal-card-counter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counter-btn {
    padding: 0rem 0rem;
    width: 1.5rem;
    height: 1.5rem;
  }

  .counter-btn .fa {
    margin: auto;
  }
  .horizontal-card-total-price {
    text-align: left;
    align-items: left;
    display: flex;
    justify-content: flex-start;
    margin: 1rem;
  }

  .continue-shop-btn {
    margin: 2rem 3rem;
  }

  /* checkout-right-div */

  .checkout-right-div {
    width: 100%;
  }
  .checkout-card {
    width: 80%;
    margin: auto;
  }
  .checkout-policies {
    width: 80%;
    margin-top: 2rem;
    margin: auto;
    box-shadow: 4px 2px #888888;
  }
}

/* wishlist */

.wishlist-no-items {
  margin-top: 1rem 1rem;
  width: 80%;
  box-shadow: 4px 2px #888888;
  padding: 1rem 1rem;
}
